<label>Transaction id: <%= @transaction.id %></label>
<br/>
<label>Transaction currency: <%= @transaction.currency %></label>
<br/>
<label>Transaction amount: <%= @transaction.amount %></label>
<br/>
<label>Transaction type: <%= @transaction.payment.paymentOption %></label>
<br/>
<label>Customer first name: <%= @transaction.customer.firstName %></label>
<br/>
<label>Customer last name: <%= @transaction.customer.lastName %></label>